:root {
<<<<<<< HEAD
  --er--step--vertical-width: 48px;
  --er--step--default-width: 48px;
  --er--step--small-width: 36px;
  --er--step--mini-width: 30px;
  --er--step--vertical-lineHeight: 50px;
}
.er-steps {
  display: flex;
  text-align: center;
  &.small {
    .step {
      > span {
        width: var(--er--step--small-width);
        height: var(--er--step--small-width);
        line-height: var(--er--step--small-width);
        font-size: 20px;
      }
    }
    .title {
      font-size: 16px;
    }.desc{
      font-size: 12px;
    }
  }
  &.mini {
    .step {
      > span {
        width: var(--er--step--mini-width);
        height: var(--er--step--mini-width);
        line-height: var(--er--step--mini-width);
        font-size: 14px;
      }
      &::after,
      &::before {
        top: 12px;
      }
    }
    .title {
      font-size: 14px;
    }.desc{
      font-size: 12px;
    }
  }
  
  &.vertical.default,
  &.vertical.mini,
  &.vertical.small {
    width: 300px;
    .er-steps-item {
      margin-bottom: calc(var(--er--step--vertical-lineHeight) * 2);
      display: flex;
      justify-content: center;
    
    }
    flex-direction: column;
    .title,
    .desc {
      margin-left: 10px;
      height: 26px;
      line-height: 26px;
      padding: 0;
    }
    .vertical-main {
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }
    .desc {
      padding: 0;
    }
    .step {
      &::after,
      &::before {
        content: '';
        width: calc(var(--er--step--vertical-lineHeight) + 2px) ;
        height: 2px;
        background: #e4e4e4;
        transform: rotate(90deg) translate(47px, -3px);
      }
      &::before {
        transform: rotate(90deg) translate(-53px, 1px);
      }
    }
  }
  &.vertical.small {
    .step {
      &::after,
      &::before {
        content: '';
        width: calc(var(--er--step--vertical-lineHeight) + 2px) ;
        height: 2px;
        background: #e4e4e4;
        transform: rotate(90deg) translate(43px, -8px);
      }
      &::before {
        transform: rotate(90deg) translate(-43px, 8px);
      }
    }
    .title,
    .desc {
      height: 18px;
      line-height: 18px;
      font-size: 14px;
    }
    .desc {
      font-size: 12px;
    }
  }
  &.vertical.mini {
    .step {
      &::after,
      &::before {
        content: '';
        width: calc(var(--er--step--vertical-lineHeight) + 2px) ;
        height: 2px;
        background: #e4e4e4;
        transform: rotate(90deg) translate(40px, -11px);
      }
      &::before {
        transform: rotate(90deg) translate(-40px, 11px);
      }
    }
    .title,
    .desc {
      height: 16px;
      line-height: 16px;
      font-size: 12px;
    }
    .desc {
      transform: scale(0.8);
    }
  }
  &-item {
    flex: 1;
    &:first-child {
      .step {
        &::before {
          display: none;
        }
      }
    }
    &:last-child {
      .step {
        &::after {
          display: none;
        }
      }
    }
    &.active {
      .step {
        > span {
          border-color: var(--er-primary) !important;
          background: var(--er-primary) !important;
          color: #fff;
        }
        &::before,
        &::after {
          background: var(--er-primary) !important;
        }
      }
      .title {
        color: var(--er-primary);
      }
    }
    .step {
      position: relative;
      > span {
        width: var(--er--step--default-width);
        height: var(--er--step--default-width);
        font-size: 28px;
        border: 2px solid #e4e4e4;
        background: #fff;
        border-radius: 50%;
        line-height: 44px;
        color: #ccc;
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
      }
      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        width: 50%;
        height: 2px;
        background: #e4e4e4;
=======
  --er-step-head-size: 36px;
  --er-step-vertical-space: 120px;
  --er-step-text-color: #999;
}
:root .er-step--large {
  --er-step-head-size: 48px;
}
:root .er-step--small {
  --er-step-head-size: 24px;
}

.er-step {
  display: flex;
  padding: 20px 0;
  &-item {
    flex: 1;
    &__head {
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        width: 50%;
        height: 2px;
        background-color: var(--er-border);
>>>>>>> upstream/main
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
<<<<<<< HEAD
    }
    .title {
      color: #999;
      padding-top: 12px;
    }
    .desc {
      font-size: 12px;
      color: #999;
      padding-top: 6px;
=======
      &.is-first {
        &::before {
          display: none;
        }
      }
      &.is-last {
        &::after {
          display: none;
        }
      }
    }
    &__box {
      position: relative;
      width: var(--er-step-head-size);
      height: var(--er-step-head-size);
      line-height: calc(var(--er-step-head-size) - 4px);
      font-size: calc(var(--er-step-head-size) / 2);
      border: 2px solid var(--er-border);
      border-radius: calc(var(--er-step-head-size) / 2);
      background: var(--er-white);
      box-sizing: border-box;
      z-index: 1;
      margin: 0 auto;
      color: var(--er-step-text-color);
      text-align: center;
      user-select: none;
    }
    &__text {
      text-align: center;
      color: var(--er-step-text-color);
    }
    &__title {
      font-size: 16px;
      margin-top: 10px;
    }
    &__desc {
      font-size: 12px;
      margin-top: 5px;
    }
    // active item
    &--active {
      .er-step-item {
        &__head {
          &::before,
          &::after {
            background-color: var(--er-primary);
          }
        }
        &__box {
          background-color: var(--er-primary);
          border-color: var(--er-primary);
          color: var(--er-white);
        }
        &__title {
          color: var(--er-primary);
        }
      }
    }
    &:first-child {
      .er-step-item__head::before {
        display: none;
      }
    }
    &:last-child {
      .er-step-item__head::after {
        display: none;
      }
    }
  }
  // vertical step
  &.is-vertical {
    flex-direction: column;
    align-items: self-start;
    .er-step-item {
      flex: none;
      height: var(--er-step-vertical-space);
      width: 100%;
      display: flex;
      align-items: start;
      &__head {
        &::after,
        &::before {
          width: 2px;
          height: calc(var(--er-step-vertical-space) / 2);
          left: calc(50% - 1px);
        }
        &::before {
          top: calc( 50% - var(--er-step-vertical-space) / 2);
        }
        &::after {
          top: 50%;
        }
      }
      &__box {
        margin: 0;
      }
      &__text {
        text-align: left;
        padding-left: 10px;
      }
      &__title {
        margin-top: 0;
      }
      &:last-child {
        height: auto;
      }
>>>>>>> upstream/main
    }
  }
}
